[package]
name = "tera"
version = "2.0.0"
edition = "2021"

[dependencies]
serde = "1"

# And optional ones
indexmap = {version = "2", optional = true}
ahash = "0.8.3"

[features]
preserve_order = ["dep:indexmap"]


[dev-dependencies]
criterion = "0.5"
insta = { version = "1", features = ["glob"] }
serde_derive = "1.0.156"

[lib]
doctest = false

[[bench]]
name = "value"
harness = false

[[bench]]
name = "escape"
harness = false

[[bench]]
name = "templates"
harness = false
