name: ci
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  fmt:
    name: fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all --check

  clippy:
    name: clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - run: cargo clippy --all-targets --all-features -- -D warnings

  test:
    name: test
    needs: [fmt, clippy]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [stable, macos, win-msvc]
        include:
          - build: stable
            os: ubuntu-latest
            rust: stable
          - build: macos
            os: macOS-latest
            rust: stable
          - build: win-msvc
            os: windows-2025
            rust: stable
    steps:
      - uses: actions/checkout@v5
      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - name: Build System Info
        run: rustc --version
      - name: tests with default feature
        run: cargo test
      - name: tests without the default feature
        run: cargo test --all-features

